*.swp
*.log
*.log.*
*.log-*
.DS_Store
/recorded/*
/mirakurun/data/*
/mirakurun/conf/*
/epgstation/custom.Dockerfile
/epgstation/thumbnail/*.jpg
/epgstation/data/streamfiles/*.ts
/epgstation/data/streamfiles/*.m3u8
/epgstation/config/*
!/epgstation/config/enc.js.template
!/epgstation/config/config.yml.template
!/epgstation/config/operatorLogConfig.sample.yml
!/epgstation/config/epgUpdaterLogConfig.sample.yml
!/epgstation/config/serviceLogConfig.sample.yml
/epgstation/data/*.json
!.gitkeep
